# Virtual environment
venv/
env/

# Django-related files
*.pyc
__pycache__/

*.log

# Secret files
.env
config/settings/local.py

# Static and media files
staticfiles/


# IDE and editor files
.vscode/
.idea/
*.swp

**/migrations/*.py
!**/migrations/__init__.py
