{% extends "base.html" %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/signup.css' %}">


<div class="wrapper">
    <div class="title">
        SignIn
    </div>
    <form action="/user/customer/signin" method="post">
        {% for message in messages %}

        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>

        {% endfor %}
        
        {% csrf_token %}
        <div class="field">
            <input type="email" name="email" required>
            <label>Email</label>
        </div>
        
        <div class="field">
            <input type="password" name="password" required autocomplete="new-password">
            <label>Password</label>
        </div>
        

        <div class="content">
            <div class="checkbox">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Don't Have Account</label>
            </div>
            <div class="pass-link">
                <a href="{% url 'customer-signup' %}">Signup</a>
            </div>
        </div>
        <div class="field">
            <input type="submit" value="Login">
        </div>
       
    </form>
</div>



{% endblock %}